@media screen and (max-width: 1000px){
  #gameName{
    font-size: 5vw;
  }
}

@media screen and (max-width: 750px){
  .gameTitle{
    height: 17vw;
  }
}

@media screen and (max-width: 700px){
  #gameName{
    font-size: 5vw;
  }
}

@media screen and (max-width: 500px){
  #gameName{
    font-size: 4vw;
  }
}

@media screen and (max-width: 450px){
  .playArea{
    height: 90vw;
    width: 90vw; 
  }
  .score{
    font-size: 5vw;
  }
  #gameName{
    display: none;
  }
  .under_title{
    display: block;
  }

}
