*{
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.gameTitle{
  height: 2em;
  width: 100vw;

  font-family: 'DotGothic16', sans-serif , 'Port Lligat Sans', sans-serif;
  font-size: 50px;
  color: blue;

  text-align: center;

  background-image: linear-gradient(#87CBB9 , #569DAA , #577D86);
}

#score_card{
  font-family: 'DotGothic16', sans-serif , 'Port Lligat Sans', sans-serif;
  font-size: 20px;

  color: red;
}

.gameHolder{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  
  background-color: #B9EDDD;
}

.playArea{
  bottom: 50px;

  min-width: 500px;
  min-height: 500px;

  background-image: linear-gradient(#87CBB9 , #569DAA , #577D86);

  display: grid;
  grid-template-columns: repeat(20 , 1fr);
  grid-template-rows: repeat(20 , 1fr);
}

.gameOver{
  box-shadow: 0 0 10px red;
}

.playArea div {
  border: 1px solid black;
}

.playArea #food {
  border-radius: 50%;
}
